@import "variables";

.container {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 60px;
  font-size: 18px;
  font-family: 'Inter-Medium';
  color: $greyColor;
  transition: all .3s;

  a {
    text-decoration: none;
    transition: color .3s;
    color: $blackColor;
    &:hover {
      text-decoration: none;
      color: $textGreyColor;
    }
  }
}
