@import "variables";

.wrapper {
  min-height: 68px;
  margin-bottom: 10px;
}

.message {
  font-size: 14px;

  a {
    color: $dbBlue;
  }
}

.container {
  padding: 10px 12px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 6px;
  align-items: center;
  background-color: $greenColorTransparent;
  color: $greenColor;

  &.loading {
    background-color: $dbBlueTransparent;
    color: $dbBlue;
  }

  &.claimingFinished {
    background-color: $greenColorTransparent;
    color: $greenColor;
  }

  &.alreadyClaimed {
    background-color: $alreadyClaimedColor;
    color: $blackColor;
  }
}

.loadingComponent {
  margin-right: 8px;
}