@import "variables";

.container {
  padding: 10px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &.loading {
    background-color: $dbBlueTransparent;
    color: $dbBlue;
  }
}

.loadingComponent {
  margin-right: 8px;
}