@import "variables";

.container {
  padding: 0px 30px;
  border-bottom: 1px solid $greyStrokeMenuColor;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.close {
  max-width: 102px;
  cursor: pointer;
}

.amount {
  max-width: 150px;
}

.button {
  padding: 0px 15px;
  font-size: 20px;
  color: $whiteColor;
  width: auto;
  min-width: 65px;
  background: $dbBlue;
}

.finishedButton {
  background: $greenColorTransparent;
  min-width: 65px;
  width: auto;
  padding: 0px 15px;
}

.input {
  max-width: 100%;
  font-size: 30px!important;
  font-family: 'Inter-Bold'!important;
  text-align: center;

  &.empty {
    color: $dbBlueTransparent;
  }
}