@import "variables";

.title {
  font-size: 22px;
  margin-bottom: 40px;
  font-family: 'Formular-Bold';
  max-width: 300px;
}

.container {
  padding: 0 20px;
}

.alert {
  margin-bottom: 40px;
}

.subtitle {
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  left: 0;
}

.content {
  position: relative;
  height: 100px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.button {
  margin-bottom: 50px;
  max-width: 100%;
  background: #0789BB!important;
}

.instructions {
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin-bottom: 30px;

  div {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.instructionTitle {
  margin-bottom: 40px;
}

.walletPreview {
  margin-bottom: 30px;
}

.slider {
  left: 100%;
  opacity: 0;
  z-index: 1;
  width: 100%;
  top: 0px;
  position: absolute;
}

.wallet {
  border-radius: 24px;
  width: 81px!important;
  height: 81px!important;
  display: flex!important;
  align-items: center;
  justify-content: center;
  outline: none!important;
  background: $whiteColor;

  &.sliderWallet {
    width: 60px!important;
    height: 60px!important;
    border-radius: 14px!important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15)!important;

  }

  img {
    max-width: 100%;
  }

  &.withBorder {
    transition: all .3s;
    overflow: hidden;
    &:hover {
      background: $bgHoverGreyColor;
      border-color: $borderHoverGreyColor;
    }
  }
}




.sliderShow .subtitle {
  animation: titleOut .5s forwards;
}

.sliderShow .slider {
  animation: sliderIn .5s forwards;
}

.sliderHide .subtitle {
  animation: titleIn .5s forwards;
}

.sliderHide .slider {
  animation: sliderOut .5s forwards;
}

@keyframes titleOut {
  0% {
    left: 0%;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    left: -100%;
    z-index: 1;
  }
}

@keyframes sliderIn {
  0% {
    left: 100%;
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    display: block;
    left: 0%;
    z-index: 2;
  }
}


@keyframes titleIn {
  0% {
    opacity: 0;
    display: none;
    left: -100%;
    z-index: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    left: 0%;
    opacity: 1;
  }
}

@keyframes sliderOut {
  0% {
    opacity: 1;
    display: block;
    left: 0%;
    z-index: 2;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}
