@import "variables";


.title {
  font-size: 22px;
  margin-bottom: 40px;

  span {
    font-family: 'Formular-Bold';
  }
}

.button {
  margin-bottom: 30px;
  max-width: 300px;
}

.terms {
  font-size: 14px;

  a {
    color: $blackColor;
  }
}

.icon {
  margin-bottom: 40px;
}

.wallet {
  font-size: 14px;
  margin-bottom: 10px;
}

.wallet {
  font-size: 14px;
  span {
    font-family: 'Formular-Bold';
  }
}
