@import "variables";

.icon {
  max-width: 100%;
}

.title {
  font-size: 35px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 48px;
}

.button {
  margin-bottom: 15px;
  max-width: 300px;
}

.terms {
  margin-bottom: 25px;
  font-size: 14px;
  color: $textGreyColor;

  a {
    color: $textGreyColor;
  }
}

.tokenIcon {
  margin-bottom: 30px;
}

.tokenIconNft {
  width: 140px;
  height: 140px;
}

.wallet {
  font-size: 18px;
}

.wallet span {
  font-family: 'HelveticaNeueBold';
}
