@import "variables";

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.alert {
  margin-bottom: 30px;
}

.button {
  max-width: 300px;
  margin-bottom: 20px;
  font-family: 'Inter-Regular'!important;

  &.buttonIconed {
    justify-content: start;
    padding: 0px 20px;

    .buttonTitle {
      flex: 1;
    }
  }
}

.divider {
 margin-bottom: 20px;
 text-align: center;
 width: 100%;
 text-transform: uppercase;
 font-family: 'Formular-Bold';
}

.instructions {
  font-size: 14px;
  width: 100%;
  text-align: left;

  div {
    margin-bottom: 6px;

    a {
      color: $blackColor;
    }
  }
}