.main {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: scroll;
}


.container {
  overflow: hidden;
  max-width: 100vw;
  &.hideHeader {
    .main {
      height: 100vh;
    }
  }
}