@import "variables";

.assets {
  min-height: 68px;
  .assetsContent {
    display: none;
  }
}

.assetsHeader {
  font-size: 18px;
  user-select: none;

  svg {
    transition: transform .3s;
    margin-left: 5px;
  }
}

.assetsExpanded {
  .assetsContent {
    display: block;
  }

  .assetsHeader {
    svg {
      transform: rotate(180deg);
    }
  }
}