@import "variables";

.container {
  max-width: 300px;
  background: $dbBlue;
  &.buttonIconed {
    justify-content: start;
    padding: 0px 20px;

    &.inverted {
		  border-color: #000;
		  background: none;
		  color: #000;
		}


    span {
      flex: 1;
    }
  }
}

.inverted {
  border-color: $dbBlue;
  background: none;
  color: $dbBlue;
}
