.container {
  position: fixed;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 405px;
  max-width: 395px;
}

.closeButton {
  position: absolute;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  width: 40px;
  border-radius: 40px;
  cursor: pointer;
  height: 40px;
  background: #E5E5E5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}