@import "variables";

.content {
  position: relative;
  height: 100px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.slider {
  left: 100%;
  opacity: 0;
  z-index: 1;
  width: 100%;
  top: 0px;
  position: absolute;
}

.wallet {
  border-radius: 14px;
  width: 60px!important;
  height: 60px!important;
  display: flex!important;
  align-items: center;
  justify-content: center;
  outline: none!important;
  background: $whiteColor;

  img {
    max-width: 100%;
  }
}

.wallet.withBorder {
  border: 1px solid black;
  transition: all .3s;
  overflow: hidden;

  &:hover {
    background: $bgHoverGreyColor;
    border-color: $borderHoverGreyColor;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.icon {
	width: 80px;
	height: 80px;
	border: 1px solid $dbGrey;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
  overflow: hidden;
	margin-bottom: 30px;
}

.content {
	display: flex;
	width: 100%;
	flex: 1;
	flex-direction: column;
	align-items: center;
}

.button {
	margin-bottom: 30px;
}

.sliderShow .subtitle {
  animation: titleOut .5s forwards;
}

.sliderShow .slider {
  animation: sliderIn .5s forwards;
}

.sliderHide .subtitle {
  animation: titleIn .5s forwards;
}

.sliderHide .slider {
  animation: sliderOut .5s forwards;
}

@keyframes titleOut {
  0% {
    left: 0%;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    left: -100%;
    z-index: 1;
  }
}

@keyframes sliderIn {
  0% {
    left: 100%;
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    display: block;
    left: 0%;
    z-index: 2;
  }
}


@keyframes titleIn {
  0% {
    opacity: 0;
    display: none;
    left: -100%;
    z-index: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    left: 0%;
    opacity: 1;
  }
}

@keyframes sliderOut {
  0% {
    opacity: 1;
    display: block;
    left: 0%;
    z-index: 2;
  }

  80% {
    opacity: 0;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

@media only screen and (max-width: 350px)  {
	.title {
	  font-size: 20px;
	}
}
