@import "variables";

.header, .bodyHeader {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 90px;
  font-size: 30px;
  position: relative;
  font-family: 'Inter-Bold';

  .bodyHeaderCloseIcon, .bodyHeaderQrIcon, .headerIcon {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    height: 40px;
  }

  .bodyHeaderCloseIcon {
    right: 30px;
  }

  .bodyHeaderQrIcon, .headerIcon {
    left: 30px;
  }

  a {
    text-decoration: none!important;
    color: $blackColor!important;
  }
}


.bodyMain {
  height: calc(100vh - 90px);
}

.body {
  position: absolute;
  width: 100%;
  background: $whiteColor;
  right: -101%;
  z-index: 2;
  height: 100vh;
  top: 0;
  transition: right .3s;

  .bodyContent {
    padding: 0px 55px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    .avatar {
      margin-bottom: 15px;
      height: 80px;
      width: 80px;
      border-radius: 80px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .bodyHeader {
    .headerIcon {
      height: 34px;
    }
  }
}

.container {
  background: $whiteColor;
  position: relative;
  max-width: 100vw;
  &.opened {
    .body {
      right: 0;
    }
  }
}