@import "variables";

.header, .bodyHeader {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  position: relative;
  font-family: 'Inter-Bold';

  .headerIcon {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    height: 40px;
  }

  .bodyHeaderCloseIcon, .bodyHeaderQrIcon {
    position: absolute;
    bottom: 0%;
    cursor: pointer;
  }

  .bodyHeaderCloseIcon {
    right: 30px;
  }

  .bodyHeaderQrIcon, .headerIcon {
    left: 30px;
  }

  a {
    text-decoration: none!important;
    color: $blackColor!important;
  }
}

.bodyHeader {
  height: 60px;
}

.header {
  align-items: center;
  height: 90px;
}


.bodyMain {
  height: calc(100vh - 60px);
}

.body {
  position: absolute;
  width: 100%;
  background: $whiteColor;
  left: -101%;
  z-index: 2;
  height: 100vh;
  top: 0;
  transition: left .3s;

  .bodyContent {
    padding: 0px 55px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bodyHeader {
    .headerIcon {
      height: 34px;
    }
  }
}

.avatar {
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid $greyStrokeMenuColor;

  &.avatarSmall {
    height: 40px;
    width: 40px;
    border: 2px solid $blackColor;
    border-radius: 40px;
  }
}

.container {
  background: $whiteColor;
  position: relative;
  max-width: 100vw;
  &.opened {
    .body {
      left: 0;
    }
  }
}