@import "variables";

.title {
  text-align: center;
  margin-bottom: 50px;
}

.button {
  width: 300px;
  border-color: $dbGrey;
  margin-bottom: 20px;

  img {
    margin-right: 35px;
  }
}

.note {
  color: $textGreyColor;
  text-align: center;
  font-size: 14px;
}

.buttonLoading {
  div {
    border-color: 2px solid $dbGrey!important;
    border-color: $dbGrey transparent transparent transparent!important;
  }
}