.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.assets {
  min-height: 68px;
  position: relative;
  .assetsContent {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
  }

  .assetsContentItems {
    display: none;
  }
}

.tabs {
  width: 300px;
  font-size: 20px;
}

.assetsHeader {
  font-size: 18px;
  user-select: none;
  margin-bottom: 25px;

  svg {
    transition: transform .3s;
    margin-left: 5px;
  }
}

.assetsExpanded {
  .assetsContentItems {
    display: block;
  }

  .assetsHeader {
    svg {
      transform: rotate(180deg);
    }
  }
}