.main {
	height: calc(100vh - 90px);
  height: calc(calc(var(--vh, 1vh) * 100) - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.header, .footer {
	font-family: 'Inter-Regular'
}

.mainContainer {
	padding-top: 10px;
	height: 100%;
}